<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikedaguillo.reddit_underground" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/default_reddit_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RedditInstance"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="Reddit Underground">
        </activity>
        <activity
            android:name=".ManualEntryScreen"
            android:label="Reddit Underground">
        </activity>
        <activity
            android:name=".SubredditsSelectionScreen"
            android:label="Select Subreddits to Cache">
        </activity>
        <activity
            android:name=".SavedSubredditsScreen"
            android:label="Your Stored Subreddits">
        </activity>
    </application>

</manifest>
